@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background */
  --background-color: #130717;
  --background-color-sec: #241228;
  --background-black: #00000033;
  --border-color: #311b3b;
  --background-trans: transparent;
  --background-linear-gradient: linear-gradient(
    112.86deg,
    #47295c 39.86%,
    #c4528a 91.52%
  );
  --background-linear-gradient-sec: linear-gradient(
      171.03deg,
      rgba(19, 7, 23, 0) -0.1%,
      #130717 85.39%
    ),
    linear-gradient(102.42deg, rgba(19, 7, 23, 0) -7.07%, #130717 86.05%);

  /* Font */
  --font-primary: "Bakbak One", "cursive";
  --font-secondary: "Poppins", sans-serif;
  --font-third: "Inria Sans", sans-serif;

  /* Text */
  --primary-text: #ffffff;

  /* Font Size */
  --font-6xl: 70px;
  --font-5xl: 40px;
  --font-4xl: 36px;
  --font-base: 18px;
  --font-sm: 16px;
  --font-xs: 14px;

  /* Line Height */
  --line-height-6xl: 70px;
  --line-height-5xl: 70px;
  --line-height-4xl: 48px;
  --line-height-base: 28px;
  --line-height-base-2: 28px;
  --line-height-sm: 28px;
  --line-height-sm-2: 24px;
  --line-height-sm-3: 22px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text);
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer components {
  h1 {
    @apply font-bakbak text-font6xl leading-lineHeight6xl;
  }

  h2 {
    @apply font-bakbak text-font6xl leading-lineHeight6xl;
  }

  h3 {
    @apply font-poppins text-fontBase leading-lineHeight4xl font-bold;
  }

  p {
    @apply font-poppins text-fontBase leading-lineHeightBase;
  }

  span {
    @apply font-poppins text-fontSm leading-lineHeightSm3;
  }

  button {
    @apply font-inriasans text-fontBase font-bold leading-lineHeightSm3;
  }

  .banner {
    position: relative;
  }

  .banner::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #776ae3 0%, #551863 100%);
    border-radius: 50%;
    filter: blur(120px);
    width: 231px;
    height: 231px;
    z-index: -1;
    bottom: 0;
    left: 0;
  }

  .journey {
    position: relative;
  }

  .journey::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #776ae3 0%, #551863 100%);
    border-radius: 50%;
    filter: blur(120px);
    width: 180px;
    height: 180px;
    z-index: -1;
    top: 0;
    left: 0;
  }

  .journey::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #776ae3 0%, #551863 100%);
    border-radius: 50%;
    filter: blur(120px);
    width: 180px;
    height: 180px;
    z-index: -1;
    top: 0;
    right: 0;
  }
}

@layer utilities {
  .bg-gradient-filled {
    background: var(--background-linear-gradient);
    transition: all 0.5s ease;
  }
  .bg-gradient-filled:hover {
    background: var(--backgrond-trans);
  }

  .bg-gradient-transparent {
    background-image: transparent;
    border: none;
  }

  .bg-gradient-transparent:hover {
    background-image: var(--background-linear-gradient);
  }

  .br-gradient-filled {
    border-width: 2px;
    border-style: solid;
    border-image: var(--background-linear-gradient);
    border-radius: 50%;
  }

  .border-Line {
    position: relative;
  }

  .border-Line::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 230px;
    border-right: 2px solid var(--border-color);
    z-index: 1;
  }

  .gradient-border {
    position: relative;
    border-radius: 8px;
  }

  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 1px;
    background: var(--background-linear-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    z-index: -1;
  }

  .gradient-border-varient-sec {
    position: relative;
  }

  .gradient-border-varient-sec::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 1px;
    background: var(--background-linear-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    z-index: -1;
  }

  .gradient-border-varient-third {
    position: relative;
  }

  .gradient-border-varient-third::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 42px;
    padding: 1px;
    background: var(--background-linear-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    z-index: -1;
  }

  .background-grident {
    background: linear-gradient(112.86deg, #47295c 39.86%, #c4528a 91.52%);
    border-radius: 8px;
    box-shadow: 0px 4px 110.5px 0px #00000040;
  }

  .active {
    background: var(--background-linear-gradient);
    box-shadow: 0px 8px 150px 0px #00000080;
    border-radius: 8px;
    transition: all var(--background-linear-gradient) 0.5s ease-in;
  }

  .blur-bg {
    background: #ffffff33;
    backdrop-filter: blur(20.4px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .border-underline {
    border-bottom: 2px solid var(--border-color);
  }

  .border-underline:last-child {
    border-bottom: none;
  }

  .border-underline {
    border-bottom: 2px solid var(--border-color);
  }

  .border-underline:last-child {
    border-bottom: none;
  }

  .linear-gradient-custom {
    background: var(--background-linear-gradient-sec);
  }
}

.border-Line:last-child::after {
  content: none;
}

.bannerImages {
  border: 1.58px solid #372048;
  border-radius: 10px;
  padding: 13px 14px;
  background: #110c11;
}

.bannerImages1 {
  position: absolute;
  top: 11px;
}

.bannerImages2 {
  position: absolute;
  right: 0;
  z-index: -2;
  top: 32px;
}

.bannerImages3 {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 90px;
}
