@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background */
  --background-color: #22092c;
  --background-black: #00000033;
  --border-color: #311b3b;
  --backgrond-trans: transparent;
  --background-linear-gradient: linear-gradient(112.86deg,
      #47295c 39.86%,
      #c4528a 91.52%);
  --background-linear-gradient-sec: linear-gradient(171.03deg, rgba(34, 9, 44, 0) -0.1%, #22092C 85.39%),
    linear-gradient(102.42deg, rgba(34, 9, 44, 0) -7.07%, #22092C 86.05%);

  /* Font */
  --font-primary: "Bakbak One", cursive;
  --font-secondary: "Poppins", sans-serif;
  --font-third: "Inria Sans", sans-serif;

  /* Text */
  --primary-text: #ffffff;

  /* Font Size */
  --font-6xl: 70px;
  --font-5xl: 40px;
  --font-4xl: 36px;
  --font-base: 18px;
  --font-sm: 16px;
  --font-xs: 14px;

  /* Line Height */
  --line-height-6xl: 70px;
  --line-height-5xl: 70px;
  --line-height-base: 28px;
  --line-height-base-2: 28px;
  --line-height-sm: 28px;
  --line-height-sm-2: 24px;
  --line-height-sm-3: 22px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text);
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer components {
  h1 {
    @apply font-bakbak text-font6xl leading-lineHeight6xl;
  }

  h2 {
    @apply font-bakbak text-font6xl leading-lineHeight6xl;
  }

  h3 {
    @apply font-poppins text-fontBase leading-lineHeightBase font-bold;
  }

  p {
    @apply font-poppins text-fontBase leading-lineHeightBase;
  }

  button {
    @apply font-inriasans text-fontBase font-bold leading-lineHeightSm3;
  }
}

@layer utilities {
  .bg-gradient-filled {
    background-image: var(--background-linear-gradient);
  }

  .bg-gradient-transparent {
    background-image: transparent;
  }

  .bg-gradient-filled:hover {
    background-image: var(--backgrond-trans);
  }

  .br-gradient-filled {
    border-width: 2px;
    border-style: solid;
    border-image: var(--background-linear-gradient);
    border-radius: 50%;
  }

  .border-Line {
    position: relative;
  }

  .border-Line::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 230px;
    border-right: 2px solid var(--border-color);
    z-index: 1;
  }

  .gradient-border {
    position: relative;
  }

  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: var(--background-linear-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
  }

  .background-grident {
    background: linear-gradient(112.86deg,
        #47295c 39.86%,
        #c4528a 91.52%);
    border-radius: 8px;
    box-shadow: 0px 4px 110.5px 0px #00000040;
  }

  .active {
    background: var(--background-linear-gradient);
    box-shadow: 0px 8px 150px 0px #00000080;
    border-radius: 8px;
    transition: all var(--background-linear-gradient) .5s ease-in;
  }

  .abc {
    backdrop-filter: blur(103.4000015258789px);
    background: #FFFFFF33 20%;
  }

  .border-underline {
    border-bottom: 2px solid var(--border-color);
  }

  .border-underline:last-child {
    border-bottom: none;
  }

  .border-underline {
    border-bottom: 2px solid var(--border-color);
  }

  .border-underline:last-child {
    border-bottom: none;
  }

  .linear-gradient-custom {
    background: var(--background-linear-gradient-sec);
  }
}

.border-Line:last-child::after {
  content: none;
}

.bannerImages {
  border: 1.58px solid #372048;
  border-radius: 10px;
  padding: 13px 14px;
  background: #110c11;
}

.bannerImages1 {
  position: absolute;
  top: 11px;
}

.bannerImages2 {
  position: absolute;
  right: 0;
  z-index: -2;
  top: 32px;
}

.bannerImages3 {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 90px;
}